<div id="view-details" class="row justify-content-center" v-cloak>    

    <flash-message v-if="flashMessage" :message="flashMessage.message" :type="flashMessage.type"></flash-message>

    <nav class="col-10">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-tab1-tab" data-toggle="tab" href="#nav-tab1" role="tab" aria-controls="nav-tab1" aria-selected="true">
                Testi
            </a>
            <a class="nav-item nav-link" id="nav-tab2-tab" data-toggle="tab" href="#nav-tab2" role="tab" aria-controls="nav-tab2" aria-selected="false">
                Immagine
            </a>
            <a class="nav-item nav-link" id="nav-tab3-tab" data-toggle="tab" href="#nav-tab3" role="tab" aria-controls="nav-tab3" aria-selected="false">
                Video
            </a>
            <a class="nav-item nav-link" id="nav-tab4-tab" data-toggle="tab" href="#nav-tab4" role="tab" aria-controls="nav-tab4" aria-selected="false">
                Audio
            </a>
            <a class="nav-item nav-link" id="nav-tab5-tab" data-toggle="tab" href="#nav-tab5" role="tab" aria-controls="nav-tab5" aria-selected="false">
                Quiz
            </a>
            <a class="nav-item nav-link" id="nav-tab6-tab" data-toggle="tab" href="#nav-tab6" role="tab" aria-controls="nav-tab6" aria-selected="false">
                Valutazioni
            </a>
        </div>
    </nav>    

    <div class="col-10">

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane p-4 fade show active" id="nav-tab1" role="tabpanel" aria-labelledby="nav-tab1-tab">
                <div align="right" class="mtb-4">
                    <a class="btn btn-primary" :href="'/place/edit/' + item.id">Modifica</a>
                </div>                
                <div class="mtb-4">
                    <p v-if="item.published == 1" class="text-success">
                        <i class="bi-check-circle-fill mr-1"></i>Pubblicato
                    </p>
                    <p v-if="item.published == 0" class="text-danger">
                        <i class="bi-x-circle-fill mr-1"></i>Non pubblicato
                    </p>                   
                </div>
                <div>
                    <h5>Introduzione:</h5>
                    <div class="border rounded p-4" style="height: 150px; overflow-y: scroll;">
                        {{ item.intro_text }}
                    </div>
                </div>
                <div class="mt-3">
                    <h5>Testo:</h5>
                    <div class="border rounded p-4" style="height: 300px; overflow-y: scroll;">
                        <%- item.full_text %> 
                    </div>
                </div>
                <div class="mt-3">
                    <h5>Testo aggiuntivo:</h5>
                    <div class="border rounded p-4" style="height: 300px; overflow-y: scroll;">
                        <%- item.extra_text %> 
                    </div>
                </div>
                <div class="mt-5">
                    <h5>Livello difficoltà:
                        <small v-if="item.level == 0" class="ml-2">
                            <span class="border-success rounded bg-success" style="display: inline-block; width: 13px; height: 13px;"></span>
                            Facile
                        </small>
                        <small v-if="item.level == 1" class="ml-2">
                            <span class="border-warning rounded bg-warning" style="display: inline-block; width:13px; height: 13px;"></span>
                            Intermedio
                        </small>
                        <small v-if="item.level == 2" class="ml-2">
                            <span class="border-danger rounded bg-danger" style="display: inline-block; width: 13px; height: 13px;"></span>
                            Difficile
                        </small>
                    </h5>
                </div>
                <div class="mt-3">
                    <h5>Tags:                        
                        <% item.tags.forEach(tag => { %>
                         <small class="mrl-2 text-primary">@<%= tag %></small>
                        <% }) %>
                    </h5>
                </div>
                <div class="mt-3">
                    <h5>Indirizzo: <small><%- item.address %></small></h5>
                </div>
                <div class="mt-3">
                    <h5>GMaps place ID: <small><%- item.gmaps_place_id %></small></h5>
                </div>
                <div class="mt-3">
                    <h5>Coordinate:
                        <small v-if="item.lat" class="ml-1">(latitudine) <%- item.lat %>,</small>
                        <small class="ml-1">(longitudine) <%- item.long %></small>
                    </h5>
                </div>
                <div class="mt-3">
                    <h5>Categoria: <small><%= item.category %></small></h5>
                </div>           
                <div class="mt-3">
                    <h5>Creato il: <small><%= new Date(item.createdAt).toLocaleString("it-IT") %></small></h5>
                </div>
                <div class="mt-3">
                    <h5>Ultima modifica: <small><%= new Date(item.updatedAt).toLocaleString("it-IT") %></small></h5>
                </div>
            </div>

            <div class="tab-pane p-4 fade" align="center" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">                
                <image-form :item="item" :form-action="'updateImage'" :base-img-path="'/images/contenuti'"></image-form>
            </div>
            <div class="tab-pane p-4 fade" align="center" id="nav-tab3" role="tabpanel" aria-labelledby="nav-tab3-tab">
                <video-form :item="item" @preview="videoPreview()"></video-form>
                <video-preview :src="youtubeSrc"></video-preview>
            </div>
            <div class="tab-pane p-4 fade" align="center" id="nav-tab4" role="tabpanel" aria-labelledby="nav-tab4-tab">
                <audio-form :item="item"></audio-form>
            </div>
            <div class="tab-pane p-4 fade" align="center" id="nav-tab5" role="tabpanel" aria-labelledby="nav-tab5-tab">
                <quiz-form :item="item"></quiz-form>
            </div>
            <div class="tab-pane p-4 fade"  id="nav-tab6" role="tabpanel" aria-labelledby="nav-tab6-tab">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <ul class="list-group feedback-list-stars">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span class="font-weight-bold" style="font-size:1.2rem">Totale valutazioni</span>
                                    <span class="badge badge-primary badge-pill">{{ item.feedbacks.length }}</span>
                                </li>
                                <list-rating-stars :id="'star-5'" :rate="5" :count="rates_count[4]" @click="filterByStars(5)"></list-rating-stars>
                                <list-rating-stars :id="'star-4'" :rate="4" :count="rates_count[3]" @click="filterByStars(4)"></list-rating-stars>
                                <list-rating-stars :id="'star-3'" :rate="3" :count="rates_count[2]" @click="filterByStars(3)"></list-rating-stars>
                                <list-rating-stars :id="'star-2'" :rate="2" :count="rates_count[1]" @click="filterByStars(2)"></list-rating-stars>
                                <list-rating-stars :id="'star-1'" :rate="1" :count="rates_count[0]" @click="filterByStars(1)"></list-rating-stars>
                            </ul>                
                        </div>
                        <div class="col-7">
                            <div v-for="item in filteredItems">
                                <div class="row mb-4">
                                    <div class="col-12 border rounded">
                                        <p class="feedback-date">
                                            <span>{{ new Date(item.createdAt).toLocaleString("it-IT") }}</span>
                                            <rating-stars :rate="item.rate"></rating-stars>
                                        </p>                                        
                                        <p class="feedback-comment mt-2">{{ item.comment }}</p>
                                    </div>
                                </div>                    
                            </div>
                        </div>           
                    </div>
                </div>                
            </div>
        </div>

    </div>

</div>

<script src="/js/cloud.setup.js"></script>
<script src="/js/components/image-form.component.js"></script>
<script src="/js/components/video-form.component.js"></script>
<script src="/js/components/flash-message.component.js"></script>
<script src="/js/components/video-preview.component.js"></script>
<script src="/js/components/audio-form.component.js"></script>
<script src="/js/components/quiz-form.component.js"></script>
<script src="/js/components/list-rating-stars.component.js"></script>
<script src="/js/components/rating-stars.component.js"></script>
<script src="/js/pages/place/view-details.page.js"></script>