<div id="view-details" class="row justify-content-center" v-cloak>    

    <nav class="col-10">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-tab1-tab" data-toggle="tab" href="#nav-tab1" role="tab" aria-controls="nav-tab1" aria-selected="true">
                Dati
            </a>
            <a class="nav-item nav-link" id="nav-tab2-tab" data-toggle="tab" href="#nav-tab2" role="tab" aria-controls="nav-tab2" aria-selected="false">
                Immagine
            </a>
            <a class="nav-item nav-link" id="nav-tab3-tab" data-toggle="tab" href="#nav-tab3" role="tab" aria-controls="nav-tab3" aria-selected="false">
                Video
            </a>
            <a class="nav-item nav-link" id="nav-tab3-tab" data-toggle="tab" href="#nav-tab4" role="tab" aria-controls="nav-tab4" aria-selected="false">
                Audio
            </a>
            <a class="nav-item nav-link" id="nav-tab3-tab" data-toggle="tab" href="#nav-tab5" role="tab" aria-controls="nav-tab5" aria-selected="false">
                Quiz
            </a>
        </div>
    </nav>    

    <div class="col-10">

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane p-4 fade show active" id="nav-tab1" role="tabpanel" aria-labelledby="nav-tab1-tab">                
                <div class="mtb-4">
                    <p v-if="item.published == 1" class="text-success">
                        <i class="bi-check-circle-fill mr-1"></i>Pubblicato
                    </p>
                    <p v-if="item.published == 0" class="text-danger">
                        <i class="bi-x-circle-fill mr-1"></i>Non pubblicato
                    </p>                   
                </div>
                <div>
                    <h5>Introduzione:</h5>
                    <div class="border rounded p-4" style="height: 150px; overflow-y: scroll;">
                        {{ item.intro_text }}
                    </div>
                </div>
                <div class="mt-3">
                    <h5>Testo:</h5>
                    <div class="border rounded p-4" style="height: 300px; overflow-y: scroll;">
                        <%- item.full_text %> 
                    </div>
                </div>
                <div class="mt-4">
                    <h5>Tags:                        
                        <% item.tags.forEach(tag => { %>
                         <small class="mrl-2 text-primary">@<%= tag %></small>
                        <% }) %>
                    </h5>
                </div>
                <div class="mt-3">
                    <h5>Geolocalizzazione: <small><%= item.lat %>,<%= item.long %></small></h5>
                </div> 
                <div class="mt-3">
                    <h5>Categoria: <small><%= item.category %></small></h5>
                </div>           
                <div class="mt-3">
                    <h5>Creato il: <small><%= new Date(item.createdAt).toLocaleString() %></small></h5>
                </div>
                <div class="mt-3">
                    <h5>Ultima modifica: <small><%= new Date(item.updatedAt).toLocaleString() %></small></h5>
                </div>
            </div>

            <div class="tab-pane p-4 fade" align="center" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">                
                <image-form :item="item"></image-form>
            </div>
            <div class="tab-pane p-4 fade" align="center" id="nav-tab3" role="tabpanel" aria-labelledby="nav-tab3-tab">
                <video-form :item="item" @preview="videoPreview()"></video-form>
                <video-preview :src="youtubeSrc"></video-preview>
            </div>
            <div class="tab-pane p-4 fade" align="center" id="nav-tab4" role="tabpanel" aria-labelledby="nav-tab4-tab">
                <div class="card" style="width:50%">
                    <div class="card-body">
                        <p v-if="!item.audio" class="card-text">
                            Non hai ancora aggiunto un audio
                        </p>                  
                        <div style="margin-top:10px;">
                            <button type="button" v-if="!item.audio" class="btn btn-success">Aggiungi</button>
                            <button type="button" v-if="item.audio" class="btn btn-primary">Modifica</button>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="tab-pane p-4 fade" align="center" id="nav-tab5" role="tabpanel" aria-labelledby="nav-tab5-tab">
                <div class="card" style="width:50%">
                    <div class="card-body">
                      <p class="card-text">No Quiz No Party</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="/js/cloud.setup.js"></script>
<script src="/js/components/image-form.component.js"></script>
<script src="/js/components/video-form.component.js"></script>
<script src="/js/components/video-preview.component.js"></script>
<script src="/js/pages/place/view-details.page.js"></script>