<h2>
  <%= item.name %>
</h2>

<div class="container">

  <img class=""rounded="" mx-auto="" d-block=""" src="<%='/images/contenuti/'+item.imageUID %>">
  </img>
  
<div class="container">
  <%= item.intro_text %>
</div>
<div class="card">
  <label>Posizione (coordinate)</label>
  lat : <%= item.lat %> , long : <%= item.long %>
</div>

  <div class="container">
    <%= item.full_text %>
</div>

  <a class="btn btn-primary" href="/category/<%=item.category_id %>">Indietro</a>

<div class="container">
  <label>Audio</label>
  <%= item.audio %>
</div>

<div class="container">
  <label>Video</label> : <%= item.video %>
</div>

<div class="container">
  <label>Tags</label> : <%= item.tags %>
</div>

</div>
