<div id="view-details" class="row justify-content-center" v-cloak>

    <flash-message v-if="flashMessage" :message="flashMessage.message" :type="flashMessage.type"></flash-message>

    <nav class="col-10">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-tab1-tab" data-toggle="tab" href="#nav-tab1" role="tab" aria-controls="nav-tab1" aria-selected="true">
                Testi
            </a>
            <a class="nav-item nav-link" id="nav-tab2-tab" data-toggle="tab" href="#nav-tab2" role="tab" aria-controls="nav-tab2" aria-selected="false">
                Immagine
            </a>
        </div>
    </nav>

    <div class="col-10">

        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane p-4 fade show active" id="nav-tab1" role="tabpanel" aria-labelledby="nav-tab1-tab">
              <div align="right" class="mtb-4">
                  <a class="btn btn-primary" :href="'/admin/stage/edit/' + item.id">Modifica</a>
              </div>

              <div class="mt-3">
                  <h5>Testo:</h5>
                  <div class="border rounded p-4" style="height: 300px; overflow-y: scroll;">
                      <%- item.full_text %>
                  </div>
              </div>

              <div class="mt-3">
                  <h5>Coordinate:
                      <small v-if="item.lat" class="ml-1">(latitudine) <%= item.lat %>,</small>
                      <small class="ml-1">(longitudine) <%= item.long %></small>
                  </h5>
              </div>

              <div class="mt-3">
                <h5>Domanda: <small><%= item.question %></small></h5>
              </div>

              <div class="mt-3" v-for="choice in item.choices">
                <div class="col-12 border rounded">
                  {{ choice }}
                </div>
              </div>

              <div class="mt-3">
                <h5>Risposta giusta: <small><%= item.choices[item.answer] %></small></h5>
              </div>

              <div class="mt-3">
                <h5>Attività: <small><%= item.task %></small></h5>
              </div>

              <div class="mt-3">
                <h5>Punti: <small><%= item.points %></small></h5>
              </div>

              <div class="mt-3">
                  <h5>Caccia al tesoro: <small><%= item.hunt %></small></h5>
              </div>
              <div class="mt-3">
                  <h5>Creato il: <small><%= new Date(item.createdAt).toLocaleString("it-IT") %></small></h5>
              </div>
              <div class="mt-3">
                  <h5>Ultima modifica: <small><%= new Date(item.updatedAt).toLocaleString("it-IT") %></small></h5>
              </div>

              <div class="mt-3">
                <h5>Posizione: <small><%= item.position %></small></h5>
                </div>

            </div>


            <div class="tab-pane p-4 fade" align="center" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">
                <image-form :item="item" :form-action="'updateImage'" :base-img-path="'/images/contenuti'"></image-form>
            </div>


        </div>

    </div>

</div>

<script src="/js/cloud.setup.js"></script>
<script src="/js/components/image-form.component.js"></script>
<script src="/js/components/flash-message.component.js"></script>
<script src="/js/pages/stage/view-details.page.js"></script>
