<!--
<script>
  $(document).ready (function () {

    $(document).on('click', '#formSubmit', function () {
        var totalChoices = "[ \""+
        document.getElementById("choiceA").value + "\", \"" +
        document.getElementById("choiceB").value + "\", \"" +
        document.getElementById("choiceC").value + "\", \"" +
        document.getElementById("choiceD").value + "\" ]";
        $('input[name="choices"]').val(totalChoices);

        return true;
      });
    });
</script>
-->
<div id="view-create" class="container" v-cloak>

    <modal-glossary :terms="terms" @click="insertGlossaryLink()"></modal-glossary>

    <ajax-form  onload="SplitChoices();" action="saveStage" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData"
        :form-rules="formRules" :form-errors.sync="formErrors" :hunt-id="huntId"
        :tbw-editor-id="'tbweditor'" :tbw-editor-field="'full_text'"
        @submitted="submittedUpdateForm($event)" @rejected="rejectedForm($event)">

        <div class="form-group">
            <label :class="[formErrors.name ? 'text-danger' : '']">
                Titolo
            </label>
            <input type="text" name="name" class="form-control" :class="[formErrors.name ? 'is-invalid' : '']"
                v-model="formData.name" maxlength="150" id="name" />
            <cloud-error v-if="formErrors.name === 'required'">Campo obbligatorio</cloud-error>
            <cloud-error v-if="formErrors.name === 'maxLength'">Il campo può contenere al max. 150 caratteri</cloud-error>
        </div>

        <div class="form-group">
            <label :class="[formErrors.full_text ? 'text-danger' : '']">
                Testo
            </label>
            <textarea name="full_text" class="form-control" id="tbweditor" rows="8">{{ item.full_text }}</textarea>
            <cloud-error v-if="formErrors.full_text === 'required'">Campo obbligatorio</cloud-error>
            <cloud-error v-if="formErrors.full_text === 'maxLength'">Il campo può contenere al max. 65535 caratteri</cloud-error>
        </div>

        <div class="form-group">
            <label :class="[formErrors.lat || formErrors.long ? 'text-danger' : '']">
                Coordinate <span class="small">(opzionale)</span>
            </label>
            <div class="input-group">
                <span class="input-group-text">Latitudine e Longitudine</span>
                <input type="text" name="lat" class="form-control" :class="[formErrors.lat ? 'is-invalid' : '']"
                    v-model="formData.lat" id="lat" autocomplete="off">
                <input type="text" name="long" class="form-control" :class="[formErrors.long ? 'is-invalid' : '']"
                    v-model="formData.long" id="long" autocomplete="off">
            </div>
            <cloud-error v-if="formErrors.lat === 'custom'">Valore latitudine non valido</cloud-error>
            <cloud-error v-if="formErrors.long === 'custom'">Valore longitudine non valido</cloud-error>
        </div>

        <div class="form-group">
          <label :class="[formErrors.question ? 'text-danger' : '']">
              Domanda o quesito da risolvere
          </label>
          <input type="text" name="question" class="form-control" :class="[formErrors.question ? 'is-invalid' : '']"
              v-model="formData.question" maxlength="150" id="question" />
          <cloud-error v-if="formErrors.question === 'required'">Campo obbligatorio</cloud-error>
          <cloud-error v-if="formErrors.question === 'maxLength'">Il campo può contenere al max. 150 caratteri</cloud-error>
        </div>

        <div><label>Risposte possibili:</label></div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Risposta A</label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="choiceA" value="" v-model="formData.choices[0]">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Risposta B</label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="choiceB" value="" v-model="formData.choices[1]">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Risposta C</label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="choiceC" value="" v-model="formData.choices[2]">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Risposta D</label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="choiceD" value="" v-model="formData.choices[3]">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label>Risposta Giusta</label>
          </div>
          <div class="form-group col-md-2">
            <select name="answer" v-model="formData.answer" class="form-control" id="answer">
              <option value=""></option>
              <% var selected ="selected"; %>
              <option value="1" <%= (item.answer == '1') ? selected : '' %> >A</option>
              <option value="2" <%= (item.answer == '2') ? selected : '' %> >B</option>
              <option value="3" <%= (item.answer == "3") ? selected : '' %> >C</option>
              <option value="4" <%= (item.answer == "4") ? selected : '' %> >D</option>
            </select>
          </div>
        </div>
<!--
        <div class="form-group">
          <label :class="[formErrors.answer ? 'text-danger' : '']">
              Risposta giusta
          </label>
          <input type="text" name="answer" class="form-control" :class="[formErrors.answer ? 'is-invalid' : '']"
              v-model="formData.answer" maxlength="150" id="answer" />
          <cloud-error v-if="formErrors.answer === 'required'">Campo obbligatorio</cloud-error>
          <cloud-error v-if="formErrors.answer === 'maxLength'">Il campo può contenere al max. 150 caratteri</cloud-error>
        </div>
-->

        <div class="form-group">
          <label :class="[formErrors.task ? 'text-danger' : '']">
              Attività
          </label>
          <textarea name="task" class="form-control" v-model="formData.task" id="task" rows="8">{{ item.task }}</textarea>
          <cloud-error v-if="formErrors.task === 'required'">Campo obbligatorio</cloud-error>
          <cloud-error v-if="formErrors.task === 'maxLength'">Il campo può contenere al max. 2000 caratteri</cloud-error>
        </div>

        <div class="form-group">
          <label :class="[formErrors.points ? 'text-danger' : '']">
              Punti assegnati
          </label>
          <input type="text" name="points" class="form-control" :class="[formErrors.points ? 'is-invalid' : '']"
              v-model="formData.points" maxlength="5" id="points" />
          <cloud-error v-if="formErrors.points === 'required'">Campo obbligatorio</cloud-error>
          <cloud-error v-if="formErrors.points === 'maxLength'">Il campo può contenere al max. 5 caratteri (cifre)</cloud-error>
        </div>

        <div class="form-group">
            <label :class="[formErrors.hunt_id ? 'text-danger' : '']">
                Caccia al tesoro
            </label>
            <select name="hunt_id" ref="huntId" class="form-control" :class="[formErrors.hunt_id ? 'is-invalid' : '']"
                id="hunt_id" v-on:change="selectOption()">
                <option value=""></option>
                <% hunts.forEach(element => { %>
                    <option value="<%= element.id %>"
                        <% if ( element.id == item.hunt_id ) { %> selected <% } %> >
                        <%= element.name %>
                    </option>
                <% }) %>
            </select>
            <cloud-error v-if="formErrors.hunt_id === 'required'">Campo obbligatorio</cloud-error>
        </div>

        <input type="hidden" name="id" v-model="formData.id">

        <div class="row justify-content-center">
            <div class="col-4">
                <cloud-error  v-if="cloudError === 'saveFail'" >Errore durante il salvataggio dei dati</cloud-error>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-1">
                <button type="button" class="btn btn-primary" onclick="window.location = '/stage/details/<%= item.id %>';">Indietro</button>
            </div>
            <div class="col-1">
                <ajax-button type="submit" :syncing="syncing">Salva</ajax-button>
            </div>

        </div>

    </ajax-form>

</div>

<script src="/js/cloud.setup.js"></script>
<script src="/js/components/ajax-button.component.js"></script>
<script src="/js/components/ajax-form.component.js"></script>
<script src="/js/components/cloud-error.component.js"></script>
<script src="/js/components/modal-glossary.component.js"></script>
<script src="/js/pages/stage/view-create.page.js"></script>
